label, input, select {
    display: block;
}

label {
    margin-bottom: 20px;
}
input{
	background: #FFB6C1;
	border: none;
	width: 200px;
	height: 20px;

}
fieldset{
	margin-bottom: 30px;
	border: none;
}
legend{
	font-weight: bold;
	font-size: 20px;
}
h1{
	color: 	#87CEFA
}	



